.col-xs-12
  %h1 Confirm order
  = form_for @order do
    .row
      .col-xs-6
        .form-group
          %label * Shipping Method
          = render partial: "order_method", collection: @shipping_methods, as: :order_method, locals: { as: :shipping_method }
          %span.help-block.with-errors
      .col-xs-6
        .form-group
          %label * Payment Method
          = render partial: "order_method", collection: @payment_methods, as: :order_method, locals: { as: :payment_method }
          %span.help-block.with-errors
    .row
      .col-xs-6
        .form-group
          %label * First name
          %input.form-control{type: :text, name: "order[first_name]", required: :true}
          %span.help-block.with-errors
      .col-xs-6
        .form-group
          %label * Last name
          %input.form-control{type: :text, name: "order[last_name]", required: :true}
          %span.help-block.with-errors
    .row
      .col-xs-6
        .form-group
          %label * Your phone
          %input.form-control{required: :true, name: "order[phone]", type: :phone}
          %span.help-block.with-errors
      .col-xs-6
        .form-group
          %label * Your address
          %input.form-control{required: :true, name: "order[address]", type: :text}
          %span.help-block.with-errors
    .clearfix
      .form-group
        %label Comment for order
        %textarea.form-control{name: "order[comment]"}
    %button.btn.btn-success{type: :submit} Submit

