-cat = @category.name.split(" ").each{|i| i.downcase!}.join("_")
-prod = product.small_text.split(" ").each{|i| i.downcase!}.join("_")
.col-xs-4.form-group
  .form-group
    = link_to product do
      %img{:src => "http://inflavor.com.ua/#{cat}/#{prod}_logo.jpg", :alt=>""}
      
  %b= link_to product.name, product
