.container
  .row
    .col-xs-12
      %h1= @category.name
    .col-xs-4
      .row
        - @category.filter_groups.each do |group|
          %h2=group[1][:name]
          -group[1][:filter].each do |item|
            %label
              %input{type: "checkbox", name: "filters", value: item.id}
              =item.title

            
    .col-xs-8
